/* Footer styling */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c2b39;
    padding: 20px;
    color: white;
}

.footer-container p {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon img {
    width: 25px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}